<header class="cabecera-principal">
  <div class="logo-princial">
    <%= image_tag 'logo.png', alt: 'Regerencia Data Center' %>
  </div>
  <div class="">

    <span><span><strong> Usuario:</strong></span> <%= current_user.NombreCompleto %>.</span>
    <%= link_to "Cerrar session", logout_path, method: :delete, class: 'btn-custome btn-hollow-blue' %>

  </div>
</header>

<div class="cuerpo-principal">
  <aside class="menu">
    <div class="iconos estilo-menu">
      <ul>
        <li class=""><a href="" class="hint--right" aria-label="Lista de solicitud"><span class="fa fa-address-book"></span></a></li>
        <li class=""><a href="" class="hint--right" aria-label="Lista de solicitud"><span class="fa fa-address-book"></span></a></li>
        <li class=""><a href="" class="hint--right" aria-label="Lista de acceso emergente"><span class="fa fa-ambulance"></span></a></li>
        <li class=""><a href="" class="hint--right" aria-label="Visitas"><span class="fa fa-clipboard"></span></a></li>
        <li class=""><a href="" class="hint--right" aria-label="Editar usuario"><span class="fa fa-edit"></span></a></li>
      </ul>
    </div>
    <div class="texto-iconos estilo-menu">
      <ul>
        <li class=""><%= link_to 'Lista de Solicitud', userInicio_path %></li>
        <li class=""><%= link_to 'Crear de Solicitud', new_solicitud_path %></li>
        <li class=""><%= link_to 'Lista de acceso emergente', accesosIndexUser_path %></li>
        <li class=""><a href="#"> Visitas</a></li>
        <li class=""><a href="#"> Editar usuario</a></li>
      </ul>
    </div>
  </aside>

  <main class="contenido-principal">
    <header class="contenido-titulo">
      <h3 class="text-center"><span class="fa fa-address-book"></span>Lista de solicitud</h3>
    </header>
    <section class="contenido-informacion">
      <div class="">
        <% if @SolicitudesUser.empty? %>
          <p style="text-align: center"> <strong> No hay datos para mostrar</strong> </p>
        <% else %>
          <table class="table-custome" summary="las solicitudes por usuario">
            <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Correo</th>
              <th>Fecha</th>
              <th>Estatus</th>
              <th>Acción</th>
            </tr>

            <thead>
            <tbody class="cuerpo-table">
            <% @SolicitudesUser.each do |s| %>
              <tr >
                <td><%=s.id %></td>
                <td><%=s.Usuario %></td>
                <td><%=s.Correo %></td>
                <td><%=s.created_at %></td>
                <%if s.Estatus=='Pendiente' %>
                  <td><div class="pendiente"><%=s.Estatus %></div></td>
                <% elsif s.Estatus=='Aceptada' %>
                  <td><div class="aceptada"><%= s.Estatus %></td>
                <%else %>
                  <td><div class="denegada"><%= s.Estatus %></td>
                <% end %>
                <td><%=link_to 'Detalle', showSolicitud_path(s)%></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    </section>
    <footer class="controladores">
      <%= will_paginate @SolicitudesUser, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </footer>
  </main>
</div>