<header class="cabecera-principal">
  <div class="logo-princial">
    <%= image_tag 'logo.png', alt: 'Regerencia Data Center' %>
  </div>
  <div class="">

      <span><span><strong> Admin:</strong></span> <%= current_user.NombreCompleto %>.</span>
      <%= link_to "Cerrar session", logout_path, method: :delete, class: 'btn-custome btn-hollow-blue' %>

  </div>
</header>

<div class="cuerpo-principal">
  <aside class="menu">
    <div class="iconos estilo-menu">
      <ul>
        <li class="">
          <a href="inicio" class="hint--right" aria-label="Lista de solicitud"><span class="fa fa-address-book"></span></a>
        </li>
        <li class="">
          <a href="accesos" class="hint--right" aria-label="Lista de acceso emergente"><span class="fa fa-ambulance"></span></a>
        </li>
        <li class="users"><a href="" class="hint--right" aria-label="Usuario"><span class="fa fa-users"></span></a></li>
        <li class=""><a href="" class="hint--right" aria-label="Reportes"><span class="fa fa-file"></span></a></li>
        <li class="">
          <a href="" class="hint--right" aria-label="Estadisticas"><span class="fa fa-bar-chart-o"></span></a></li>
      </ul>
    </div>
    <div class="texto-iconos estilo-menu">
      <ul>
        <li class=""><%= link_to 'Lista de Solicitud', inicio_path %></li>
        <li class=""><%= link_to 'Lista de acceso emergente', accesos_path %></li>
        <li class=""><%= link_to 'Usuarios',users_path %></li>
        <li class=""><a href="#"> Reportes</a></li>
        <li class=""><a href="#"> Estadisticas</a></li>
      </ul>
    </div>
  </aside>

<main class="contenido-principal">
  <header class="contenido-titulo">
    <h3 class="text-center"><span class="fa fa-address-book"></span>Lista de solicitud</h3>
  </header>
  <section class="contenido-informacion">
    <div class="">
      <% if @Solicitudes.empty? %>
        <p style="text-align: center"> <strong> No hay datos para mostrar</strong> </p>
        <% else %>
      <table class="table-custome" summary="las solicitudes por usuario">
        <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Fecha</th>
          <th>Estatus</th>
          <th>Acción</th>
        </tr>

        <thead>
        <tbody class="cuerpo-table">
        <% @Solicitudes.each do |s| %>
        <tr >
          <td><%=s.id %></td>
          <td><%=s.Usuario %></td>
          <td><%=s.Correo %></td>
          <td><%=s.created_at %></td>
          <%if s.Estatus=='Pendiente' %>
          <td><div class="pendiente"><%=s.Estatus %></div></td>
            <% elsif s.Estatus=='Aceptada' %>
            <td><div class="aceptada"><%= s.Estatus %></td>
            <%else %>
            <td><div class="denegada"><%= s.Estatus %></td>
            <% end %>
          <td><%=link_to 'Detalle', showSolicitudAdmin_path(s)%></button></td>
        </tr>
        <% end %>
        </tbody>
      </table>
        <% end %>
    </div>
  </section>
  <footer class="controladores">
    <%= will_paginate @Solicitudes, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>

  </footer>
</main>

</div>