<!DOCTYPE html>
<html>
  <head>
    <title>DataCenterApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'hint.base.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'bootstrap.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'font-awesome.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'main.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>





    <%= yield %>






    <%= javascript_include_tag 'jquery.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'bootstrap.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'main.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'ventanaEmergente.js', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
